<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login required</title>
    <link rel="stylesheet" href="{% static 'css/403.css' %}">
</head>
<body>
    <div classs="Contenedor">    
        <h1 class="titulo">Acceso denegado</h1>
        <div class="img-container">
            <img src="{% static 'imagenes/403.png' %}" alt="">
        </div>
        
        <h2 class="subtitulo">Autorizacion requerida!</h2>
    </div>
</body>

</html>